@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}
button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;

  margin: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
#toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
  /* padding: 2rem 0 2rem 0;
  border-radius: 2rem 2rem 0 0; */
  padding: 2rem 2rem;
  margin: 2rem 4rem;
  border-radius: 0.25rem;
}
.ProseMirror {
  padding: 1rem 2rem;
  
  border-radius: 0.25rem;
  background-color: #f8f8f8;
  min-height: 10rem;
  width: 100%;
  max-height:200px;
  overflow-y: auto;
}

.ProseMirror:focus {
  border: none;
  outline: none;
}

/* Basic editor styles */
.ProseMirror > * + * {
  margin-top: 0.75em;
}
.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}
.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror img {
  max-width: 100%;
  height: auto;
}
.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.ProseMirror hr {
  border: none ;
  border-top: 2px solid rgba(13, 13, 13, 0.1) ;
  margin: 2rem 0 ;
}

css */
.bullet-list-class {
    font-size: 14px !important;
    margin-left: 10px !important;
    list-style-type: circle  !important;
  }
  #ls{ list-style-type: disc;
}
  .ordered-list-class {
    list-style-type: decimal !important; /* Use 'decimal' for numbered list */
  }
  #specifyColor {
    accent-color: #6161FF !important;
    border: 2px solid #6161FF !important;
}